*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.center{
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
}

header{
    background-color: white;
    padding: 20px 0;
    border-bottom: 1px solid rgb(200,200,200);
}

.logo img{
    width: 200px;
}

.menu{
    width: 100%;
    text-align: right;
    margin: auto;
}

.menu a{
    color: #000;
    font-size: 24px;
    text-decoration: none;
    margin-right: 20px;
    transition: 0.4s;
}

.menu a:hover{
    color: #F9BB41;
}

.menu .btn-menu{
    background-color: #F9BB41;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    border-radius: 4px;
    width: 180px;
    text-align: center;
}

.menu .btn-menu:hover{
    background-color: white;
    color: #F9BB41;
    border: 1px solid #F9BB41;
}

.redes-menu{
    display: flex;
    margin: auto;
    padding-left: 25px;
    border-left: 2px solid #000;
}

.redes-menu a{
    padding-right: 20px;
}

 
