*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}



.center{
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
}

header{
    background-color: white;
    padding: 15px 0px;
}

.logo img{
    width: 200px;
}

.menu{
    width: 100%;
    text-align: right;
    margin: auto;
}

.menu a{
    color: #000;
    font-size: 24px;
    text-decoration: none;
    margin-right:40px;
    transition: 0.4s;
}

.menu a:hover{
    color: #F6BF16;
}

.menu .btn-menu{
    background-color: #F6BF16;
    display: inline-block;
    padding: 15px 30px;
    color: #000;
    border-radius: 4px;
    width: 180px;
    text-align: center;
}

.menu .btn-menu:hover{
    background-color: #fff;
    color: #000;
    border: 1px solid #F6BF16;
}

.redes-menu{
    display: flex;
    margin: auto;
    padding-left: 25px;
    border-left: 2px solid #000;
}

.redes-menu a{
    padding-right: 20px;
}


.intro{
    background-image: url("../img/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 853px;
    overflow: visible;
    background-repeat: no-repeat;
    padding-left: 100px;
    padding-top: 250px;

    
}

.intro h1{
    text-transform: uppercase;
    font-weight: bold;
    color: #F6BF16;
    font-size: 60px;
    z-index: 2;
}

.intro p{
    color: #fff;
    font-size: 21px;
    padding: 30px 0 30px 0;
}

.intro .btn-descubra{
    background-color: #f9bc4100;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    padding-top: 20px;
    width: 250px;
    height: 65px;
    font-size:18px;
    text-align: center;
    text-decoration: none;
    border: 2px solid #F6BF16;
    font-weight: bold;
    transition: 0.4s;
}

.intro .btn-descubra:hover{
    background-color: #F6BF16;
    color: #000;
}

.sobre{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    background-image: url(../img/banner-sobre-desk.png);
    background-repeat: no-repeat;
    background-size: cover;


}
.container{
    width: 40%;
    background-image: url(../img/texture-jeronimo-smash-burger.jpg);
    border: 2px solid #F6BF16;
    padding-left: 90px;
    padding-bottom: 20px;
    margin-bottom: 70px;
}

.container h1{
    color: #F6BF16;
    font-size: 40px;
}

.container h3{
    color: #fff;
}

.container p{
    color: #fff;
}

.titulo{
    margin: 50px 0;
    border: 2px dashed #fff;
    width: 85%;
    display: flex;
    flex-wrap: nowrap;
    padding: 5px 20px;
    border-radius: 4px;
}

.titulo h1{
    font-size: 175px;
}

.titulo h3{
    font-size: 34px;
    padding-top: 37px;
    padding-left: 5px;
}

.lista{
    width: 85%;
}

.lista p{
    font-size: 25px;
    margin-bottom: 15px;
}

